@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto:wght@400;900&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    
}

body {
    background-image: url('img/bg7.jpg');
    background-position: center center;
    background-size: 100vh no-repeat;
    width: 100vw;
    height: 100vh;
    display: absolute;
    flex-direction: row;
    padding: 10px 10px;
}

h1 {
    color: black;
    font-weight: bold;
}

select, .containerEps {
    display: flex;
    padding: 5px;
    margin-top: 15px;
    width: 215px;
    height: 30px;
    border-radius: 5px;
}

button {
    padding: 5px;
    margin-top: 5px;
    width: 215px;
    border-radius: 5px;
    border: 5px green solid;
    transition: .3s;
    font-weight: bold;
    font-size: 15px;
    background-color: green;
    color: white;
}

button:hover {
    transform: scale(1.03);
}

.clickP{
    color: red;
}

.containerEps {
    display: none;
    width: 215px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 82.5vh;
    background-color: #f1eee9b6;
    box-shadow: 0 15px 25px rgba(0,0,0,.9);
    border-radius: 5px;
    animation: bounce .5s ;
    -webkit-animation: bounce .5s;
}

.containerEps2 {
    display: none;
    width: 215px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 82.5vh;
    background-color: #f1eee9b6;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 5px;
    animation: bounce .5s ;
    -webkit-animation: bounce .5s;
}

.containerEps3 {
    display: none;
    width: 215px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 82.5vh;
    background-color: #f1eee9b6;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 5px;
    animation: bounce .5s ;
    -webkit-animation: bounce .5s;
}

@keyframes bounce {
    from {
        transform: translate(-150px);
    }

    to {
        transform: translate(0px);
    }
}

@keyframes mymove {
    0%   {top: -1000px;}
    25%  {top: 142px;}
    
}

p {
    padding-top: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: .1s;
    cursor: pointer;
}

p:hover {
    transform: scale(1.1);
}

.movie {
    display: none;
    position: absolute;
    left: 27%;
    top: 15%;
    width: 55vw;
    border-radius: 5px;
    animation: mymove 2s ;
    -webkit-animation: mymove 2s;
}

.closeButton{
    display: none;
    cursor: pointer;
}

.containerClose{
    width: 100%;
    float: right;
}



@media only screen and (max-width: 1920px) {
    
    h1{
        color: white;
    }
    body{
        justify-content: center;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }
    .movie{
        display: none;
        justify-content: center;
        align-items: center;
        width: 65vw;
        /* padding-left: 20px;
        padding-top: 20px; */
        top: 17vh;
        left: 17.8%;        
    }
    .containerEps{
        height: 520px;
    }

    .containerEps2{
        height: 630px;
        align-items: center;
        justify-content: center;
    }

    .containerEps3{
        height: 660px;
    }

    .containerEps2 p{
        padding-top: 7px;
        align-items: center;
        justify-content: center;
    }
    select{
        
        justify-content: center;
        align-items: center;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .closeButton{
        display: none;
        z-index: 100;
        border-radius: 50%;
        position: relative;
        float: right;
        right: 16%;
        top: 20%;
        cursor: pointer;
    }
    .containerClose{
        float: inline-start;
        width: 100%;
        height: 30px;
    }
    
}

@media only screen and (max-width: 920px) {
    .movie{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100vw;
        left: 0px;         
    }
    .closeButton{
        display: none;
        z-index: 100;
        border-radius: 50%;
        position: relative;
        float: right;
        right: 1px;
        top: 20%;
        cursor: pointer;
    }
}